PORT=3000
AUTH_SERVICE_URL=http://auth-service:3001/api/v1/auth
STOCK_SERVICE_URL=http://stock-service:3002/api/v1/stock
ORDER_SERVICE_URL=http://order-service:3003/api/v1/orders
ACCESS_TOKEN_SECRET=your_super_secret_token_here
ACCESS_TOKEN_EXPIRY=1d
MONGO_URI=mongodb://mongodb:27017/auth_db
REDIS_HOST=redis
REDIS_PORT=6379
